<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/mg.jpeg" alt="IMG" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Jamaludin</h1>
            <p class="lead">Live Learner</p>
        </div>
    </div>
</div>